<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>
  <body>

    <responsive-child>
      <main class="interactive">
        <h1>Case files outline poaching ring’s alleged activities in Washington</h1>
        <p class="chatter">
          The Washington Department of Fish &amp; Wildlife believes a group of eight people illegally killed dozens of animals over two years in the Gifford Pinchot National Forest in Southwest Washington. Investigators have documented more than two dozen hunting trips taken by members of the group. The case relies heavily on photos, videos, text messages and social media communications contained on the suspects’ phones. Investigators were able to visit many of the sites where they believe bears, bobcats and elk were killed because photos and videos contained geotags. See those locations and images from the case files.
        <div class="timeline-container">
          
          <div class="iterate">
            <button class="prev">&laquo; Previous</button>
            <div class="timeline-blocks"></div>
            <button class="next">Next &raquo;</button>
          </div>
        </div>

        <div class="event">

          <div class="details-map">
            <div class="map-container">
              <leaflet-map class="locator" fixed>
                <tile-layer layer="esriTopographic"></tile-layer>
              </leaflet-map>
              <div class="no-map">
                No GPS coordinates were specified for this event.
              </div>
            </div>

            <div class="details"></div>
          </div>

          <div class="spacer"></div>

          <div class="photo-container"></div>

        
        </div>

        <div class="mobile iterate">
          <button class="prev">&laquo; Previous</button>
          <button class="next">Next &raquo;</button>
        </div>
        
        <div class="source">
          Source: WDFW
        </div>
        <div class="credit">
          Research: Evan Bush / The Seattle Times<br>
          Development: Vanessa Mart&iacute;nez and Thomas Wilburn / The Seattle Times
        </div>
      </main>
    </responsive-child>

    <script>
window.poachingData = <%= JSON.stringify(json.events) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
